<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="core.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>

<h2>Coord</h2>
<div ng-app="coordApp">
    <div ng-controller="CoordController as event">
        <form name="coordForm" novalidate>
            <input id="eventName" type="text" ng-model="event.name" required placeholder="Enter event name"/>

            <div ng-form="contactsForm">
                <table ng-repeat="contact in event.contacts" ng-form="contactForm">
                    <tr>
                        <td>
                            <button type="submit" ng-click="contactsForm.$invalid || event.addElement()"
                                    ng-show="$last">
                                Add
                            </button>
                        </td>
                        <td>
                            <input type="hidden" ng-model="contact.type" readonly value="email">
                            <input name="emailOrPhone" type="email" ng-model="contact.emailOrPhone" required
                                   placeholder="Enter contact information"/>
                        </td>
                        <td>
                            <span ng-show="contactForm.emailOrPhone.$touched && contactForm.$dirty && contactForm.$invalid">A valid
                            email address is required.
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="button" ng-click="event.submitEvent()" value="Invite" ng-disabled="coordForm.$invalid">
        </form>
    </div>
</div>

</body>
</html>
