<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="core.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>

<h2>Start a new Coord!</h2>
<div ng-app="coordApp">
    <div ng-controller="CoordController as event">
        <input type="text" ng-model="event.name" required="true" placeholder="event name">

        <div ng-repeat="contact in event.contacts">
            <input type="email" ng-model="contact.email" required="false" placeholder="contact email">
        </div>
        <div>
            <form ng-submit="event.addContact(contact)">
                <input type="email" ng-model="contact.email" required="true" placeholder="contact email">
                <button type="submit">Add</button>
            </form>
        </div>
        <div>
            <button ng-click="event.createEvent()">Create Coord</button>
        </div>
    </div>
</div>

</body>
</html>
